# data set files
dataset/**
data/**

#temporary files
**/_temp/**
**/_test/**


# python cache
**/__pycache__/**

# jupyter notebook temporary files
**/.ipynb_checkpoints/**

# hyper parameters config file
utils/fusion_training_hyparam.json

#configuration file
utils/config.ini

# vs code temporary files
**/.vscode/**